@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.btn {
  width: 150px;
  background-color: #E8B11E;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #E8B11E;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #E8B11E 0%, #E8B11E 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}


.panel .content {  
  color: #00003A;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.logo {
  position: relative;
  top: -65px;
  left: 45%;
  transform: translateX(-50%);
  width: 430px;
  height: auto;
  z-index: 1;
}

 
.employee-buttons {
  position: absolute;
  display: block;
  bottom: 15%;
  right:2%;
  transform: translate(-50%, -50%);
}
  
.employee-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 50px 150px; 
  font-size: 20px;
  background-color: #00003A;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 2px;
}
  
.employee-btn:hover {
  background-color: #2980b9;
}

.message {
  position: absolute;
  top: 30px;
  right: 85px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #00003A;
  padding: 30px 100px;
  border-radius: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.user {
  position: absolute;
  top: 150px;
  right: 90px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #00003A;
  padding: 30px 100px;
  border-radius: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.logout-btn {
  position: absolute;
  display: block;
  bottom: -4%;
  left: 7%;
  transform: translate(-50%, -50%);
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 5px 30px; 
  font-size: 15px;
  background-color: #00003A;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 2px;
}
  
.logout-btn:hover {
  background-color: #ff9900e0;
}

  
  
  
  