<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML File</title>
    <!-- Add any additional meta tags, CSS, or JavaScript links here -->
</head>
<body>
    <!-- Your HTML content goes here -->
    <h1>Hello, World!</h1>
    <br>
    <p>total usd: {{payment_usd}}</p>
    <br>
    <p>total bs: {{payment_local}}</p>
    <br>
    <p>Paid tickets: {{tickets_payment_dict[1]}}   Unpaid tickets: {{tickets_payment_dict[2]}}   Canceled tickets: {{tickets_payment_dict[3]}}  </p>
    <br>
    <p>Car: {{tickets_vehicle_type_dict[1]}}   Truck: {{tickets_vehicle_type_dict[2]}}   Bus: {{tickets_vehicle_type_dict[3]}}      Motorcycles: {{tickets_vehicle_type_dict[4]}}  </p>
</body>
</html>