<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/regular_main.css">
  <link rel="icon" href="static/assets/img/sentinel_icon.png" type="image/x-icon">
  <title>Sentinel Hawk</title>
</head>
<body>
  <div class="container">
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <img src="static/assets/img/sentinel.png" alt="Logo" class="logo">
          <button class="btn logout-btn" onclick="window.location.href='/logout'">Logout</button>
          <div class="message" id="user-message">Hello.</div>
          <div class="user" id="user">{{ username }}</div>
          <div class="employee-buttons">
            <button class="btn employee-btn" onclick="window.location.href='/ticket'">Tickets</button>
          </div>
      </div>
</body>

</html>
