{% if message %}
<script>
  window.onload = function() {
    alert("{{ message }}");
  };
</script>
{% endif %}

<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="static/login.css">
      <link rel="icon" href="static/assets/img/sentinel_icon.png" type="image/x-icon">
      <title>Sign in</title>
    </head>
    <body>
      
      <div class="container">
        <div class="forms-container">
          <div class="signin-signup">
            <form method="post" action="{{ url_for('login') }}" class="sign-in-form">
              <h2 class="title">Sign in</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" id="username" name="username" placeholder="Username" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Password" />
                <span class="input-group-text" onclick="togglePasswordVisibility()">
                  <i id="password-toggle" class="fas fa-eye"></i>
                </span>
              </div>
              <input type="submit" value="Login" class="btn solid" />
              
            </form>
          </div>
        </div>
    
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
            <img src="static/assets/img/sentinel.png" alt="Logo" class="logo">
            </div>
          </div>
          <script>    
            function togglePasswordVisibility() {
              var passwordInput = document.getElementById("password");
              var passwordToggle = document.getElementById("password-toggle");
        
              if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordToggle.className = "fas fa-eye-slash";
              } else {
                passwordInput.type = "password";
                passwordToggle.className = "fas fa-eye";
              }
            }
        
            function togglePasswordVisibility1() {
              var passwordInput = document.getElementById("password1");
              var passwordToggle = document.getElementById("password-toggle1");
        
              if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordToggle.className = "fas fa-eye-slash";
              } else {
                passwordInput.type = "password";
                passwordToggle.className = "fas fa-eye";
              }
            }
            function togglePasswordVisibility2() {
              var passwordInput = document.getElementById("password2");
              var passwordToggle = document.getElementById("password-toggle2");
        
              if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordToggle.className = "fas fa-eye-slash";
              } else {
                passwordInput.type = "password";
                passwordToggle.className = "fas fa-eye";
              }
            }
          </script>
        </body>
        </html>