{% if message %}
<script>
  window.onload = function() {
    alert("{{ message }}");
  };
</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title>System Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>System Users</h1>

        <!--Botón de agregar usuario-->

        <button id="addUserBtn" class="btn btn-success"><i class="fas fa-plus"></i> Add User</button>

        <!--Botón de agregar usuario-->

        <!--Barra de búsqueda-->

        <div class="row mb-3">
            <div class="col">
                <br>
                <input type="text" class="form-control" id="searchInput" placeholder="Search By Username">
            </div>

            <!--Botón de búsqueda-->

            <div class="col-auto">
                <br>
                <button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> Search</button>
            </div>

            <!--Botón de búsqueda-->
        </div>

        <!--Barra de búsqueda-->

        <!--Pop up Crear usuario-->

        <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/add-user" id="addUserForm">
                            <div class="form-group">
                                <label for="username1">Username</label>
                                <input type="text" class="form-control" id="username1" name="username1">
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="text" class="form-control" id="password1" name="password1">
                            </div>
                            <div class="form-group">
                                <label for="password2">Password Confirmation</label>
                                <input type="text" class="form-control" id="password2" name="password2">
                            </div>
                            <div class="form-group">
                                <label for="userPermisology">Choose User Permisology:</label>
                                <select id="userPermisology" name="userPermisology">
                                    <option value="admin">Administrator</option>
                                    <option value="employee">Employee</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="addBtn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <!--Pop up Crear usuario-->


        <!--Tabla de usuarios-->

        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Permisology</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id="userRow{{ user.id }}">
                    <td>{{ user.id }}</td>
                    <td class="editable" data-id="{{ user.id }}">{{ user.username }}</td>
                    <td class="editable" data-id="{{ user.id }}">{{ user.permisology }}</td>
                    <td>
                        <button type="button" class="btn btn-primary update-btn" data-id="{{ user.id }}" data-name="{{ user.username }}"><i class="fas fa-edit"></i> Update</button>
                        <form method="POST" action="/delete-user/{{ user.id }}" class="delete-form d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    </td>
                </tr>

                <!--Pop up Actualizar usuario-->

                <div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateUserModalLabel">Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/update-user" id="updateUserForm{{ user.id }}">
                                    <div class="form-group">
                                        <label for="newUsername">New Username</label>
                                        <input type="text" class="form-control" id="newUsername" name="newUsername">
                                    </div>
                                    <div class="form-group">
                                        <label for="newUserPassword">New Password</label>
                                        <input type="text" class="form-control" id="newUserPassword" name="newUserPassword">
                                    </div>
                                    <div class="form-group">
                                        <label for="newUserPermisology">Choose User Permisology:</label>
                                        <select id="newUserPermisology" name="newUserPermisology">
                                            <option value="admin">Administrator</option>
                                            <option value="employee">Employee</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <input type="hidden" name="userId" value="{{ user.id }}">
                                        <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Pop up Actualizar usuario-->

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <div style="margin-top: 20px;">
            <a href="/main" style="text-decoration: none; color: #007bff; font-weight: bold;">Back to menu</a>
        </div>
    </div>


    <!--Tabla de usuarios-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.update-btn').click(function() {
                var userId = $(this).data('id');
                var username = $(this).data('name');
                $('#updateUserModalLabel').text('Update ' + username);
                // Set the data-id attribute for the "Guardar cambios" button
                $('#saveChangesBtn').data('id', userId);
                $('#updateUserModal').modal('show');
            });
    
            $('#saveChangesBtn').click(function() {
                // Get the values from the form fields
                var userId = $(this).data('id');
                var newUsername = $('#newUsername').val();
                var newUserPassword = $('#newUserPassword').val();
                var newUserPermisology = $('#newUserPermisology').val();
            
                // Submit the form
                $('#updateUserForm' + userId).submit();
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#addUserBtn').click(function() {
                $('#addUserModal').modal('show');
            });

            $('#addBtn').click(function() {
                // Get the values from the form fields
                var username1 = $('#username1').val();
                var password1 = $('#password1').val();
                var password2 = $('#password2').val();
                var userPermisology = $('#userPermisology').val();
            
                // Submit the form
                $('#addUserForm').submit();
            });
        });
    </script>
    <script>
        document.getElementById("searchBtn").addEventListener("click", function() {
            var searchValue = document.getElementById("searchInput").value;
            // Construct the URL with the search query as a parameter
            var url = "/user-search/" + encodeURIComponent(searchValue);
            // Redirect the user to the search results page
            window.location.href = url;
        });
    </script>
</body>
</html>
