{% if message %}
<script>
  window.onload = function() {
    alert("{{ message }}");
  };
</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title>Payment Method</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Payment Methods</h1>

        <!--Botón de agregar metodo de pago-->

        <button id="addPaymentMethodBtn" class="btn btn-success"><i class="fas fa-plus"></i> Add Payment Method</button>

        <!--Botón de agregar metodo de pago-->

        <!--Barra de búsqueda-->

        <div class="row mb-3">
            <div class="col">
                <br>
                <input type="text" class="form-control" id="searchInput" placeholder="Search By Name">
            </div>

            <!--Botón de búsqueda-->

            <div class="col-auto">
                <br>
                <button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> Search</button>
            </div>

            <!--Botón de búsqueda-->
        </div>

        <!--Barra de búsqueda-->

        <!--Pop up Crear metodo de pago-->

        <div class="modal fade" id="addPaymentMethodModal" tabindex="-1" aria-labelledby="addPaymentMethodModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPaymentMethodModalLabel">Add Payment Method</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/add-payment-method" id="addPaymentMethodForm">
                            <div class="form-group">
                                <label for="paymentMethodName">Payment Method Name</label>
                                <input type="text" class="form-control" id="paymentMethodName" name="paymentMethodName">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="addBtn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--Pop up Crear metodo de pago-->


        <!--Tabla de metodos de pago-->

        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                {% for method in payment_methods %}
                <tr id="methodRow{{ method.payment_method_id }}">
                    <td>{{ method.payment_method_id }}</td>
                    <td class="editable" data-id="{{ method.payment_method_id }}">{{ method.name }}</td>
                    <td>
                        <button type="button" class="btn btn-primary update-btn" data-id="{{ method.payment_method_id }}" data-name="{{ method.name }}"><i class="fas fa-edit"></i> Update</button>
                        <form method="POST" action="/delete-payment-method/{{ method.payment_method_id }}" class="delete-form d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    </td>
                </tr>

                <!--Pop up Actualizar metodo de pago-->

                <div class="modal fade" id="updatePaymentMethodModal" tabindex="-1" aria-labelledby="updatePaymentMethodModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updatePaymentMethodModalLabel">Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/update-payment-method" id="updatePaymentMethodForm{{ method.payment_method_id }}">
                                    <div class="form-group">
                                        <label for="newPaymentMethodName">New Name</label>
                                        <input type="text" class="form-control" id="newPaymentMethodName" name="newPaymentMethodName">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <input type="hidden" name="paymentMethodId" value="{{ method.payment_method_id }}">
                                        <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Pop up Actualizar metodo de pago-->

                {% endfor %}
            </tbody>
        </table>
    </div>


    <!--Tabla de metodos de pago-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.update-btn').click(function() {
                var paymentMethodId = $(this).data('id');
                var paymentMethodName = $(this).data('name');
                $('#updatePaymentMethodModalLabel').text('Update ' + paymentMethodName);
                // Set the data-id attribute for the "Guardar cambios" button
                $('#saveChangesBtn').data('id', paymentMethodId);
                $('#updatePaymentMethodModal').modal('show');
            });
    
            $('#saveChangesBtn').click(function() {
                // Get the values from the form fields
                var paymentMethodId = $(this).data('id');
                var newPaymentMethodName = $('#newPaymentMethodName').val();
               
                // Submit the form
                $('#updatePaymentMethodForm' + newPaymentMethodId).submit();
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#addPaymentMethodBtn').click(function() {
                $('#addPaymentMethodModal').modal('show');
            });

            $('#addBtn').click(function() {
                // Get the values from the form fields
                var newPaymentMethodName = $('#newPaymentMethodName').val();
            
                // Submit the form
                $('#addPaymentMethodForm').submit();
            });
        });
    </script>
    <script>
        document.getElementById("searchBtn").addEventListener("click", function() {
            var searchValue = document.getElementById("searchInput").value;
            // Construct the URL with the search query as a parameter
            var url = "/payment-method-search/" + encodeURIComponent(searchValue);
            // Redirect the user to the search results page
            window.location.href = url;
        });
    </script>
</body>
</html>