<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="static/revenues.css">
  <link rel="icon" href="static/assets/img/sentinel_icon.png" type="image/x-icon">

  <title>Revenues</title>
</head>
<body>
    <div class="container">
        
        <div class="panels-container">
            
          <div class="panel left-panel">
            <div class="content">
              <button class="btn back-btn" onclick="window.location.href='/main'">Back</button>
              <img src="static/assets/img/sentinel.png" alt="Logo" class="logo">
              <div class="message" id="user-message">Revenues</div>
                <form id="date-form">
                    <div class='from-date'>
                        <label for="start-date">From: </label>
                        <input type="date" id="start-date" name="start_date">
                    </div>
                    <div class='to-date'>
                        <label for="end-date">To: </label>
                        <input type="date" id="end-date" name="end_date">
                    </div>
                    <button type="submit" class="submit-btn" id="submit-btn">Search</button>
                </form>
                
                <div class="incomes" id="incomes">Total incomes</div>
                <div class="total_incomes" id="total_incomes">{{payment_usd}} $ </div>
                
                <div class="vehicle_label">Vehicle types:</div>
                <div class="payment_methods_label">Payment methods:</div>
                
                <div id="incomes_bar_chart">
                    <canvas id="myBarChart"></canvas>
                </div>

                <div id="vehicle_pie_chart">
                    <canvas id="myPieChart"></canvas>
                </div>
                
                <div id="payment_method_pie_chart">
                    <canvas id="myPieChart2"></canvas>
                </div>

            </div>
          </div>
        </div>
    </div>
<script>
        
        var myPieChart1; // Declarar la variable del gráfico fuera de la función para que sea accesible en todo el ámbito
        var myPieChart2; 
        var myBarChart;

$(document).ready(function() {
    $('#date-form').submit(function(event) {
        event.preventDefault(); // Evitar que el formulario se envíe normalmente

        var formData = $(this).serialize(); // Serializar los datos del formulario

        // Enviar la solicitud AJAX al servidor
        $.ajax({
            type: 'POST',
            url: '/revenues', // La ruta de Flask que maneja la solicitud
            data: formData,
            success: function(response) {
                // Utilizar los datos directamente
                var paymentUsd = response.payment_usd;
                var tickets_vehicle_type_dict = response.tickets_vehicle_type_dict
                var count_payments_methods  = response.count_payments_methods
                var incomes_per_day = response.incomes_per_day
                var datesLabel = response.dates

                // Actualizar el contenido de los elementos HTML con los nuevos valores
                $('#total_incomes').text(paymentUsd.toFixed(2) + ' $');


                // Actualizar el gráfico con los datos recibidos del servidor
                updateChart(tickets_vehicle_type_dict, count_payments_methods, incomes_per_day, datesLabel);
            },
            error: function(xhr, status, error) {
                // Manejar errores si la solicitud falla
                console.error(error);
            }
        });
    });
});

function updateChart(tickets_vehicle_type_dict, count_payments_methods, incomes_per_day, datesLabel) {

    if (!myPieChart1 && !myPieChart2 && !myBarChart){


        var ctx = document.getElementById('myPieChart').getContext('2d');
            myPieChart1 = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [tickets_vehicle_type_dict[1], tickets_vehicle_type_dict[2], tickets_vehicle_type_dict[3], tickets_vehicle_type_dict[4]],
                        backgroundColor: ['#F2AA33', '#1898D0 ', '#F5ED41', '#0A447D'],
                        borderColor: [
                            '#F2AA33',
                            '#1898D0',
                            '#F5ED41',
                            '#0A447D',
                        ],
                        borderWidth: 1
                    }],
                    labels: ['Car', 'Truck', 'Bus', 'Motorcycle']
                },
                options: {
                    title: {
                        display: true,
                        text: 'Payment Distribution'
                    }
                }
            });



            var ctx = document.getElementById('myPieChart2').getContext('2d');

            // Suponiendo que count_payments_methods es un diccionario con los métodos de pago y sus cantidades
            var paymentData = [];
            for (var method in count_payments_methods) {
                paymentData.push(count_payments_methods[method]);
            }

            // Suponiendo que tickets_vehicle_type_dict es un diccionario con los tipos de vehículo y sus cantidades
            var vehicleData = [];
            for (var type in tickets_vehicle_type_dict) {
                vehicleData.push(tickets_vehicle_type_dict[type]);
            }

            myPieChart2 = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: paymentData,
                        backgroundColor: ['#492042', '#1898D0', '#FFA07A', '#00FF7F'], // Agrega más colores si es necesario
                        borderColor: ['#492042', '#1898D0', '#FFA07A', '#00FF7F'], // Mismo número de colores que backgroundColor
                        borderWidth: 1
                    }],
                    labels: Object.keys(count_payments_methods) // Utiliza las claves del diccionario como etiquetas
                },
                options: {
                    title: {
                        display: true,
                        text: 'Payment Distribution'
                    }
                }
            });

            var ctx = document.getElementById('myBarChart').getContext('2d');

            myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: "Income",
                        data: incomes_per_day,
                        backgroundColor: ["#00003A"], 
                        borderColor: ["#00003A"], 
                        borderWidth: 1
                    }],
                    labels: datesLabel 
                },
                options: {
                    title: {
                        display: true,
                        text: 'Incomes Per Day'
                    }
                }
            });

    }
    else if (!myPieChart1 || !myPieChart2 || !myBarChart) {


        if (!myPieChart1){

            // Si el gráfico no existe, crear uno nuevo

            var ctx = document.getElementById('myPieChart').getContext('2d');
            myPieChart1 = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [tickets_vehicle_type_dict[1], tickets_vehicle_type_dict[2], tickets_vehicle_type_dict[3], tickets_vehicle_type_dict[4]],
                        backgroundColor: ['#F2AA33', '#1898D0 ', '#F5ED41', '#0A447D'],
                        borderColor: [
                            '#F2AA33',
                            '#1898D0',
                            '#F5ED41',
                            '#0A447D',
                        ],
                        borderWidth: 1
                    }],
                    labels: ['Car', 'Truck', 'Bus', 'Motorcycle']
                },
                options: {
                    title: {
                        display: true,
                        text: 'Payment Distribution'
                    }
                }
            });
        }else{

            // Si myPieChart1 ya existe, actualizar los datos

            myPieChart1.data.datasets[0].data = [tickets_vehicle_type_dict[1], tickets_vehicle_type_dict[2], tickets_vehicle_type_dict[3], tickets_vehicle_type_dict[4]];
            myPieChart1.update();

            // Si myBarChart ya existe, actualizar los datos, las etiquetas y los colores

            myBarChart.data.labels = datesLabel;
            myBarChart.data.datasets[0].data = incomes_per_day;
            myBarChart.update();
        }


        if (!myPieChart2){

            // Si el gráfico no existe, crear uno nuevo

            var ctx = document.getElementById('myPieChart2').getContext('2d');

            // Suponiendo que count_payments_methods es un diccionario con los métodos de pago y sus cantidades
            var paymentData = [];
            for (var method in count_payments_methods) {
                paymentData.push(count_payments_methods[method]);
            }

            // Suponiendo que tickets_vehicle_type_dict es un diccionario con los tipos de vehículo y sus cantidades
            var vehicleData = [];
            for (var type in tickets_vehicle_type_dict) {
                vehicleData.push(tickets_vehicle_type_dict[type]);
            }

            myPieChart2 = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: paymentData,
                        backgroundColor: ['#492042', '#1898D0', '#FFA07A', '#00FF7F'], // Agrega más colores si es necesario
                        borderColor: ['#492042', '#1898D0', '#FFA07A', '#00FF7F'], // Mismo número de colores que backgroundColor
                        borderWidth: 1
                    }],
                    labels: Object.keys(count_payments_methods) // Utiliza las claves del diccionario como etiquetas
                },
                options: {
                    title: {
                        display: true,
                        text: 'Payment Distribution'
                    }
                }
            });
        }else{

            // Si myPieChart2 ya existe, actualizar los datos y las etiquetas

            var paymentData = [];
            var paymentLabels = [];

            for (var method in count_payments_methods) {
                paymentLabels.push(method);
                paymentData.push(count_payments_methods[method]);
            }

            myPieChart2.data.labels = paymentLabels;
            myPieChart2.data.datasets[0].data = paymentData;
            myPieChart2.update();


            // Si myBarChart ya existe, actualizar los datos, las etiquetas y los colores

            myBarChart.data.labels = datesLabel;
            myBarChart.data.datasets[0].data = incomes_per_day;
            myBarChart.update();
        }

        if (!myBarChart){


            var ctx = document.getElementById('myBarChart').getContext('2d');

            myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [{
                        data: incomes_per_day,
                        backgroundColor: generateRandomColors(incomes_per_day.length), 
                        borderColor: generateRandomColors(incomes_per_day.length), 
                        borderWidth: 1
                    }],
                    labels: datesLabel 
                },
                options: {
                    title: {
                        display: true,
                        text: 'Incomes Per Day'
                    }
                }
            });
        }
        else{

            // Si myPieChart1 ya existe, actualizar los datos

            myPieChart1.data.datasets[0].data = [tickets_vehicle_type_dict[1], tickets_vehicle_type_dict[2], tickets_vehicle_type_dict[3], tickets_vehicle_type_dict[4]];
            myPieChart1.update();


            // Si myPieChart2 ya existe, actualizar los datos y las etiquetas

            var paymentData = [];
            var paymentLabels = [];

            for (var method in count_payments_methods) {
                paymentLabels.push(method);
                paymentData.push(count_payments_methods[method]);
            }

            myPieChart2.data.labels = paymentLabels;
            myPieChart2.data.datasets[0].data = paymentData;
            myPieChart2.update();

        }

    } else {

        // Si myPieChart1 ya existe, actualizar los datos

        myPieChart1.data.datasets[0].data = [tickets_vehicle_type_dict[1], tickets_vehicle_type_dict[2], tickets_vehicle_type_dict[3], tickets_vehicle_type_dict[4]];
        myPieChart1.update();


        // Si myPieChart2 ya existe, actualizar los datos y las etiquetas

        var paymentData = [];
        var paymentLabels = [];

        for (var method in count_payments_methods) {
            paymentLabels.push(method);
            paymentData.push(count_payments_methods[method]);
        }

        myPieChart2.data.labels = paymentLabels;
        myPieChart2.data.datasets[0].data = paymentData;
        myPieChart2.update();

        // Si myBarChart ya existe, actualizar los datos, las etiquetas y los colores

        myBarChart.data.labels = datesLabel;
        myBarChart.data.datasets[0].data = incomes_per_day;
        myBarChart.update();
    }
}
    </script>
    <script>
    $('#submit-btn').click(function() {
        // Get the values from the form fields
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
    
        // Submit the form
        $('#date-form').submit();
    });
    </script>
    </body>
 </html>
