{% if message %}
<script>
  window.onload = function() {
    alert("{{ message }}");
  };
</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title>User Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

    {% if user %}
    <body>
        <div class="container">
            <h1>Search</h1>
    
            <!--Tabla de usuarios-->
    
            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Permisology</th>
                        <th>Actions</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr id="userRow{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td class="editable" data-id="{{ user.id }}">{{ user.username }}</td>
                        <td class="editable" data-id="{{ user.id }}">{{ user.permisology }}</td>
                        <td>
                            <button type="button" class="btn btn-primary update-btn" data-id="{{ user.id }}" data-name="{{ user.username }}"><i class="fas fa-edit"></i> Update</button>
                            <form method="POST" action="/delete-user/{{ user.id }}" class="delete-form d-inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                            </form>
                        </td>
                    </tr>
    
                    <!--Pop up Actualizar usuario-->
    
                    <div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateUserModalLabel">Update</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/update-user" id="updateUserForm{{ user.id }}">
                                        <div class="form-group">
                                            <label for="newUsername">New Username</label>
                                            <input type="text" class="form-control" id="newUsername" name="newUsername">
                                        </div>
                                        <div class="form-group">
                                            <label for="newUserPassword">New Password</label>
                                            <input type="text" class="form-control" id="newUserPassword" name="newUserPassword">
                                        </div>
                                        <div class="form-group">
                                            <label for="newUserPermisology">Choose User Permisology:</label>
                                            <select id="newUserPermisology" name="newUserPermisology">
                                                <option value="admin">Admin</option>
                                                <option value="security">Security Guard</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <input type="hidden" name="userId" value="{{ user.id }}">
                                            <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!--Pop up Actualizar usuario-->
                </tbody>
            </table>
        </div>

        <br>
        <br>
        <div style="text-align: center;">
            <div style="margin-top: 20px;">
                <a href="/manage-users" style="text-decoration: none; color: #007bff; font-weight: bold;">Back</a>
            </div>
        </div>
    
    
        <!--Tabla de usuarios-->
    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.update-btn').click(function() {
                    var userId = $(this).data('id');
                    var username = $(this).data('name');
                    $('#updateUserModalLabel').text('Update ' + username);
                    // Set the data-id attribute for the "Guardar cambios" button
                    $('#saveChangesBtn').data('id', userId);
                    $('#updateUserModal').modal('show');
                });
        
                $('#saveChangesBtn').click(function() {
                    // Get the values from the form fields
                    var userId = $(this).data('id');
                    var newUsername = $('#newUsername').val();
                    var newUserPassword = $('#newUserPassword').val();
                    var newUserPermisology = $('#newUserPermisology').val();
                
                    // Submit the form
                    $('#updateUserForm' + userId).submit();
                });
            });
        </script>
    </body>
{% else %}
    <body style="font-family: Arial, sans-serif; margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background-color: #f4f4f4;">
        <div style="text-align: center;">
            <h1 style="color: #333;">User Not Found</h1>
            <p style="color: #666; margin-top: 20px;">The user you searched for does not exist.</p>
            <p style="color: #666;">Please try again with a different search term.</p>
            <a href="/manage-users" style="text-decoration: none; margin-top: 20px; color: #007bff; font-weight: bold;">Back</a>
        </div>
    </body>
{% endif %}
</html>
