{% if message %}
<script>
  window.onload = function() {
    alert("{{ message }}");
  };
</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Types</title>
    <link rel="icon" href="static/assets/img/sentinel_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Vehicle Types</h1>

        <!--Barra de búsqueda-->

        <div class="row mb-3">
            <div class="col">
                <br>
                <input type="text" class="form-control" id="searchInput" placeholder="Search By Name">
            </div>

            <!--Botón de búsqueda-->

            <div class="col-auto">
                <br>
                <button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> Search</button>
            </div>

            <!--Botón de búsqueda-->
        </div>

        <!--Barra de búsqueda-->

    
        <!--Tabla de vehículos-->

        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Type Name</th>
                    <th>Charge</th>
                    <th>Action</th> 
                </tr>
            </thead>
            <tbody>
                {% for vehicle_type in vehicle_types %}
                <tr class="vehicle_type-row" data-name="{{vehicle_type.name}}">
                    <td>{{ vehicle_type.vehicle_type_id }}</td>
                    <td class="editable" data-id="{{ vehicle_type.vehicle_type_id }}">{{ vehicle_type.name }}</td>
                    <td class="editable" data-id="{{ vehicle_type.vehicle_type_id }}">{{ vehicle_type.charge }}</td>
                    <td>
                        <button type="button" class="btn btn-primary update-btn" data-id="{{ vehicle_type.vehicle_type_id }}" data-name="{{ vehicle_type.name }}"><i class="fas fa-edit"></i> Update</button>
                    </td>
                </tr>

                <!--Pop up Actualizar vehículo-->

                <div class="modal fade" id="updateVehicleModal" tabindex="-1" aria-labelledby="updateVehicleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateVehicleModalLabel">Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/update-vehicle" id="updateVehicleForm{{ vehicle_type.vehicle_type_id }}">
                                    <div class="form-group">
                                        <label for="newVehicleCharge">New Charge</label>
                                        <input type="text" class="form-control" id="newVehicleCharge" name="newVehicleCharge">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <input type="hidden" name="vehicleId" value="{{ vehicle_type.vehicle_type_id }}">
                                        <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Pop up Actualizar vehículo-->

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <div style="margin-top: 20px;">
            <a href="/main" style="text-decoration: none; color: #007bff; font-weight: bold;">Back to menu</a>
        </div>
    </div>


    <!--Tabla de vehículos-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.update-btn').click(function() {
                var vehicleId = $(this).data('id');
                var vehicleName = $(this).data('name');
                $('#updateVehicleModalLabel').text('Update ' + vehicleName);
                $('#updateVehicleModal').modal('show');
            });
    
            $('#saveChangesBtn').click(function() {

                var newVehicleCharge = $('#newVehicleCharge').val();
                $('#updateVehicleForm').submit();
            });
        });
    </script>
    <script>
        function filterVehicleTypes(name) {
            $('.vehicle_type-row').hide();
            
            $('.vehicle_type-row[data-name="' + name + '"]').show();
        }
    
        $(document).ready(function() {
            $('#searchBtn').click(function() {
                var searchValue = $('#searchInput').val();
                if (searchValue === ""){
                    $('.vehicle_type-row').show(); 
                }
                else{
                filterVehicleTypes(searchValue);
                }
            });
        });  
    </script>
</body>
</html>
