{% if message %}
<script>
  window.onload = function() {
    alert("{{ message }}");
  };
</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Type Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>



    {% if vehicle_type %}
    <body>
    <div class="container">
        <h1>Search</h1>
    </div>      
        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Type Name</th>
                    <th>Charge</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                <tr id="vehicleRow{{ vehicle_type.vehicle_type_id }}">
                    <td>{{ vehicle_type.vehicle_type_id }}</td>
                    <td class="editable" data-id="{{ vehicle_type.vehicle_type_id }}">{{ vehicle_type.name }}</td>
                    <td class="editable" data-id="{{ vehicle_type.vehicle_type_id }}">{{ vehicle_type.charge }}</td>
                    <td>
                        <button type="button" class="btn btn-primary update-btn" data-id="{{ vehicle_type.vehicle_type_id }}" data-name="{{ vehicle_type.name }}"><i class="fas fa-edit"></i> Update</button>
                        <form method="POST" action="/delete-vehicle/{{ vehicle_type.vehicle_type_id }}" class="delete-form d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    </td>
                </tr>
                <div class="modal fade" id="updateVehicleModal" tabindex="-1" aria-labelledby="updateVehicleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateVehicleModalLabel">Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/update-vehicle" id="updateVehicleForm{{ vehicle_type.vehicle_type_id }}">
                                    <div class="form-group">
                                        <label for="newVehicleCharge">New Charge</label>
                                        <input type="text" class="form-control" id="newVehicleCharge" name="newVehicleCharge">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <input type="hidden" name="vehicleId" value="{{ vehicle_type.vehicle_type_id }}">
                                        <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div style="text-align: center;">
        <div style="margin-top: 20px;">
            <a href="/vehicle-type" style="text-decoration: none; color: #007bff; font-weight: bold;">Back</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.update-btn').click(function() {
                var vehicleId = $(this).data('id');
                var vehicleName = $(this).data('name');
                $('#updateVehicleModalLabel').text('Actualizar ' + vehicleName);
                // Set the data-id attribute for the "Guardar cambios" button
                $('#saveChangesBtn').data('id', vehicleId);
                $('#updateVehicleModal').modal('show');
            });
    
            $('#saveChangesBtn').click(function() {
                // Get the values from the form fields
                var vehicleId = $(this).data('id');
                var newCharge = $('#newVehicleCharge').val();
            
                // Submit the form
                $('#updateVehicleForm' + vehicleId).submit();
            });
        });
    </script>
    </body>
{% else %}
    <body style="font-family: Arial, sans-serif; margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background-color: #f4f4f4;">
        <div style="text-align: center;">
            <h1 style="color: #333;">Vehicle Not Found</h1>
            <p style="color: #666; margin-top: 20px;">The vehicle you searched for does not exist.</p>
            <p style="color: #666;">Please try again with a different search term.</p>
            <a href="/vehicle-type" style="text-decoration: none; margin-top: 20px; color: #007bff; font-weight: bold;">Back</a>
        </div>
    </body>
{% endif %}
</html>
